@import 'bourbon/bourbon';
$visual-grid: true;
@import 'neat/neat';
$cool: red;

body {
  color: red;
}

.changelater {
  @include outer-container;
  @include omega(3n);
  height: 600px;
}

.changelater{
  @include span-columns(4);
}
